<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="#" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/books/new" class="btn">Add Book</a>
        <a href="/authors/new" class="btn">Add Author</a>
      </div>
    </header>
    <div class="container center hero">
      <h1>Welcome to Bookstore</h1>
      <a href="/books" class="btn btn2">View Books</a>
    </div>
  </body>
</html>
