<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>Blog</title>
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="#" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/articles/new" class="btn2">Add Article</a>
      </div>
    </header>
    <section class="container center hero">
      <h1>Welcome to Blog!</h1>
      <a href="/articles" class="btn">View Article</a>
    </section>
  </body>
</html>
